.box {
    width: 175px;
    height: 175px;
    background-color: #0A0A0A;
    position: relative;
    z-index: 100;
    border-radius: 15px;
    position: relative;
}

.box_photo {
    position: absolute;
    left: -4px;
    z-index: 1;
}

.box_text {
    position: absolute;
    z-index: 10;
    top: 22px;
    left: 15px;
    color: white;
    font-size: 16px;
}